.tiptap-button-text-color-swatch {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 -0.175rem;
  border-radius: var(--tt-radius-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tt-gray-light-900);
  font-weight: 700;
  line-height: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0.15rem;
    height: 0.2rem;
    border-radius: 0.25rem;
    background-color: var(--text-color);
  }

  .dark & {
    color: var(--tt-gray-dark-900);
  }
}
