/* =====================
   TABLES
   ===================== */
.tiptap.ProseMirror {
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;

    td,
    th {
      border: 1px solid var(--tt-gray-light-a-300);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: var(--tt-gray-light-a-50);
      font-weight: bold;
      text-align: left;
    }

    td.selectedCell,
    th.selectedCell {
      box-shadow: none;
    }

    td.table-active-cell,
    th.table-active-cell {
      box-shadow: inset 0 0 0 2px var(--tt-brand-color-500);
    }

    td.table-selected-cell,
    th.table-selected-cell {
      --tt-table-sel-top: 0;
      --tt-table-sel-right: 0;
      --tt-table-sel-bottom: 0;
      --tt-table-sel-left: 0;
    }

    td.table-selected-cell::after,
    th.table-selected-cell::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border-style: solid;
      border-color: var(--tt-brand-color-500);
      border-width: var(--tt-table-sel-top) var(--tt-table-sel-right) var(--tt-table-sel-bottom) var(--tt-table-sel-left);
      z-index: 2;
    }

    td.table-selected-cell.table-sel-top,
    th.table-selected-cell.table-sel-top {
      --tt-table-sel-top: 2px;
    }

    td.table-selected-cell.table-sel-right,
    th.table-selected-cell.table-sel-right {
      --tt-table-sel-right: 2px;
    }

    td.table-selected-cell.table-sel-bottom,
    th.table-selected-cell.table-sel-bottom {
      --tt-table-sel-bottom: 2px;
    }

    td.table-selected-cell.table-sel-left,
    th.table-selected-cell.table-sel-left {
      --tt-table-sel-left: 2px;
    }

    .column-resize-handle {
      background-color: var(--tt-brand-color-500);
      bottom: -2px;
      pointer-events: auto;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
      z-index: 20;
      cursor: col-resize;
    }
  }

  .dark & {
    table {
      td,
      th {
        border-color: var(--tt-gray-dark-a-300);
      }

      th {
        background-color: var(--tt-gray-dark-a-50);
      }

      td.selectedCell,
      th.selectedCell {
        box-shadow: none;
      }

      td.table-active-cell,
      th.table-active-cell {
        box-shadow: inset 0 0 0 2px var(--tt-brand-color-400);
      }

      td.table-selected-cell::after,
      th.table-selected-cell::after {
        border-color: var(--tt-brand-color-400);
      }

      .column-resize-handle {
        background-color: var(--tt-brand-color-400);
      }
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
    width: fit-content;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
