/* =====================
   TABLES
   ===================== */
.tiptap.ProseMirror {
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;

    td,
    th {
      border: 1px solid var(--tt-gray-light-a-300);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: var(--tt-gray-light-a-50);
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: var(--tt-brand-color-100);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--tt-brand-color-500);
      bottom: -2px;
      pointer-events: auto;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
      z-index: 20;
      cursor: col-resize;
    }
  }

  .dark & {
    table {
      td,
      th {
        border-color: var(--tt-gray-dark-a-300);
      }

      th {
        background-color: var(--tt-gray-dark-a-50);
      }
      
      .selectedCell:after {
        background: var(--tt-brand-color-900);
      }

      .column-resize-handle {
        background-color: var(--tt-brand-color-400);
      }
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
    padding-right: 24px;
    padding-bottom: 24px;
    width: fit-content;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
  }

  .table-add-button {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 130, 246, 0.1);
    color: rgb(37, 99, 235);
    cursor: pointer;
    transition: background-color 0.15s ease;
    backdrop-filter: blur(4px);
    border: 1px solid rgb(191, 219, 254);
    border-radius: 0.125rem;

    &:hover {
      background-color: rgba(59, 130, 246, 0.2);
    }
  }

  .dark & {
    .table-add-button {
      color: rgb(96, 165, 250);
      border-color: rgb(30, 58, 138);
    }
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
